<div class="container py-5">
  <h2 class="my-2">Contact</h2>
  <p class="card-text">
    Some quick example text to build on the card title and make up the bulk of
    the card’s content.
  </p>

  <div class="container-fluid">
    <div class="col-8 container py-5 border border-dark rounded bg-white
     ">
      <div class="  " >
        <label class="me-2" for="firstNameInput">First Name </label>
        <input
          class="form-control w-50 border border-secondary me-auto "
          type="text"
          name="firstNameInput"
          id="firstNameInput"
        />

        <label class=" d-flex mb-2 my-2" for="firstNameInput">City </label>
        <input
          class="form-control w-100 border border-secondary"
          type="text"
          name="firstNameInput"
          id="firstNameInput"
        />
     
        <div class=" d-flex me-auto p-2 " >
          
        <a href="#" class="  me-auto p-2 my-5 btn btn-primary">Go somewhere</a>
     </div> 
    </div>
      </div>
    </div>
  </div>
</div>









