<!-- your html code here -->
<!--FIRST HEADIN HTML-->
<div class="container bg-white">
  <div class="row">
    <div class="col-9">
      <h4 class="fw-bold mx-5 mt-3 text-start">
        This First Heading
        <span class="text-secondary">Will Catch Your Eyes</span>
      </h4>

      <p class="fs-6 fst-lighter mx-5 text-start">
        Done ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
        porta felis euismod semper. Praesent commodo cursus magna, vel
        scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
    </div>
    <!--IMG-->
    <div class="col-3 text-center">
      <img src="./assets/img/1.jpg" class="rounded-circle w-100" />
    </div>
  </div>
</div>
<br />


