<div class="container py-5 ">
  <h2 class=" my-2 ">Portfolio</h2>
   <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card’s content.
          </p>

  <div class="row">
    <div class="col-4">
      <div class="card">
        <img
          src="https://picsum.photos/id/222/400/300"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body my-2 ">
          <h5 class="card-title">Project Name</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card’s content.
          </p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <img
          src="https://picsum.photos/id/220/400/300"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body my-2 ">
          <h5 class="card-title">Project Name</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card’s content.
          </p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <img
          src="https://picsum.photos/id/223/400/300"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body my-2 ">
          <h5 class="card-title">Project Name</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card’s content.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
