<!-- your html code here -->


<header
  class="container-fluid d-flex align-items-center justify-content-center text-center px-0"
  style="
    background-image: url('./assets/img/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 75vh;
    margin-top: 0;
  "
>

  <!-- WHITE TEXT BOX -->
   <div class="text-center position-absolute top-50 start-50 translate-middle w-100">

  <div class="bg-white py-3 mb-2">
    <h1 class="m-0">One Page Wonder</h1>
  </div>

  <div class="bg-white py-3">
    <h2 class="m-0">Will Knock Your Socks Off</h2>
  </div>

</div>




</header>




